@import "src/variables";

.side {
    display: none;
}
.wrapper {
    margin: 5rem 16px;
}
.cardTitle {
    padding: 2rem;
    background: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
}
.cardTitle h1 {
    font-size: 2rem;
    text-align: left;
    color: #0068b2;
}
.cardTitle p {
    margin-top: 1rem;
}
.container {
    margin-top: 2rem;
    width: calc(100% - 4rem);
    margin: 2rem auto;
}
.container h2 {
    text-align: left;
    display: inline-block;
    margin: 0;
    color: #0068b2;
    background: none;
    display: block;
    font-size: 2rem;
}
.container h4 {
    color: $color-text-secondary;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0;
}
.wrapper li p::before {
    position: absolute;
    background: $color-text-third;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 1rem;
    content: "";
    text-align: center;
    margin-right: 2em;
    margin-top: 0.6em;
    margin-left: -2em;
}
.container p {
    margin-top: 1rem;
}
.container img {
    width: 100%;
}
.side h3 {
    color: $color-text-primary;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.sideCard {
    padding: 2rem;
    background: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
}
.sideCardWork {
    margin-top: 20rem;
}
.sideCardResults {
    margin-top: 95rem;
}
@media(min-width: 80rem) {
    .wrapper {
        margin: 10rem auto;
        display: grid;
        grid-template-columns: 60em 20em;
        grid-column-gap: 2em;
        justify-content: center;
    }
    .side {
        display: block;
    }
}