@import "src/variables";

.wrapper {
  margin-top: 2rem;
  width: 100%;
  padding: 4rem 1rem;
  border-top: 1px solid $color-text-third;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.random {
  margin: 0 auto;
}

.copyright {
  margin: 0 auto;
  margin-top: 4rem;
}

.rights {
  margin: 0 auto;
  font-style: italic;
}
