@import "src/variables";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-background-light;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    overflow: hidden;
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 0;
    transition: opacity 400ms;
    &:hover {
      opacity: 1;
    }
  }
}
.title {
  color: $color-text-primary-inv;
}

.wrapper:hover {
  cursor: pointer;
}

.paragraph {
  color: $color-text-primary-inv;
  line-height: 1.25;
  flex: 1 1 auto;
}

.tags {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
}

.tag {
  color: $color-text-primary;
  background-color: $color-background-light;
  padding: 6px 16px;
  border-radius: 48px;
  margin-right: 8px;
  margin-top: 8px;
}
@media (hover: none) {
  .wrapper .content {
    opacity: 1;
  }
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
